
thead tr {
  color: #0000FF;
  background-color: #CCFFFF;
  font-size: 14px;
}

thead tr:first-child {
  color: #0000FF;
  background-color: #FFFF99;
  font-size: 15px;
}

thead tr:first-child {
  color: #0000FF;
  background-color: #FFFF99;
}



 tr,td,th {
  border: 1px solid black;
}

th[name='dep'], td[name='dep'] {
  color: #0000FF;
  background-color: #CCFFFF;
}

table {
 /* border-collapse: collapse;*/
  font-size: 12px;
}

.tdRate{
  color: red;
}